<div>
  <div *ngIf="loggedIn === true">
    <img src="{{ user.photoUrl }}">
    <div>
      <h4>{{ user.name }}</h4>
      <h4>{{ user.email }}</h4>
    </div>
  </div>
  <button mat-raised-button (click)="signInWithGoogle()" *ngIf="loggedIn === false">Login with Google</button>
  <button mat-raised-button (click)="signInWithFB()" *ngIf="loggedIn === false">Login with Facebook</button>
  <button mat-raised-button *ngIf="loggedIn === true" (click)="signOut()">Sign Out</button>
  <h1 [hidden]="!clicked">Text: {{input.value}}</h1>
  <h1 [hidden]="clicked">Please show the component to change me!</h1>
  <button mat-raised-button color="primary" (click)="clicked = true" *ngIf="clicked === false">Show</button>
  <button mat-raised-button color="warn" (click)="clicked = false" *ngIf="clicked === true">Hide</button>
  <div [hidden]="!clicked">
    <mat-form-field>
      <input #input matInput placeholder="Text Here">
    </mat-form-field>
    <h2>Log <button mat-raised-button (click)="updateLog(input.value)">Update Log</button> <button mat-raised-button (click)="log = ''">Clear Log</button></h2>
    <pre>{{log}}</pre>
  </div>

  <div>
    <h1>Test f(x) Calculator</h1>
    <mat-form-field>
      <input #minp matInput placeholder="Input M Value Here">
    </mat-form-field>
    <br />
    <mat-form-field>
      <input #binp matInput placeholder="Input B Value Here">
    </mat-form-field>
    <br />
    <mat-form-field>
      <input #finp matInput placeholder="Input 'From' Value Here">
    </mat-form-field>
    <br />
    <mat-form-field>
      <input #tinp matInput placeholder="Input 'To' Value Here">
    </mat-form-field>
    <button mat-raised-button color="warn" (click)="this.performFunction(minp.value, binp.value, finp.value, tinp.value)">Send Function</button>
    <button mat-raised-button color="warn" (click)="this.func = ''; this.x = 0; this.log2 = ''; minp.value = null; binp.value = null; finp.value = null; tinp.value = null;">Clear All</button>
    <br />
    <mat-divider></mat-divider>
    <h1>Output from Calculator</h1>
    <pre>f(x) = <pre>{{ log2 }}</pre></pre>
  </div>
</div>
